@model IEnumerable<LibraryManagementApp.MVC.Data.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add Author</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTotal)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="authorDeleteForm">
    <input type="hidden" id="authorid" name="Id" />
</form>

@section Scripts {
    <script>
        $(function() {
            $('.table').DataTable();

            $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                        'Deleted!',
                        'Author has been deleted.',
                        'success'
                        )
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#authorid').val(id);
                        $('#authorDeleteForm').submit();
                    }
                })
            })
        })
    </script>
}